apiVersion: v1
kind: Service
metadata:
  name: fast-search-service
spec:
  selector:
    app: fast-search
  ports:
    - protocol: TCP
      port: 80 # The port to expose within the cluster
      targetPort: 8080 # The port your service listens on
  type: ClusterIP
